<style>
    .navbar {
        background-color: rgb(255, 255, 255) !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    .navbar-brand img {
        object-fit: cover;
        width: 100px;
    }


    .btn-salir strong{
      color: rgb(39, 58, 115) !important;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-custom sticky-top" style="z-index: 1000; height: 55px;">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="./assets/img/logoPracti.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn-salir" mat-raised-button (click)="cerrarSession()">
                        <strong>Salir
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </strong>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>